/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
html {
    scroll-behavior: smooth;
}

*/

img {
    width: 100%;
    max-width: 100%;
}

.space {
    background-color: coral;
    padding: 1px;
    width: 50px;
    display: inline-block;
}

.space_skills {
    background-color: rgba(255, 255, 255, .6);
    padding: 1px;
    width: 34px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 13px;
    margin-right: 13px;
}

.bar_progress {
    background-color: black;
    position: relative;
    height: 12px;
    width: 150px;
}

.progres {
    background-color: blue;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Navigation*/

.nav_main {
    background-color: transparent;
}

.nav_sob {
    background-color: rgba(0, 0, 0, .94);
    height: 100vh;
    margin-top: -6em;
    margin-left: -2rem;
    margin-right: -2rem;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.navbar-toggler:focus {
    outline: none;
}

.itens_top {
    -webkit-transform: translateY(90%);
    -ms-transform: translateY(90%);
    transform: translateY(90%);
}

.itens_top li {
    line-height: 2.5rem;
}

.itens_top a {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

.itens_top a:hover {
    color: salmon;
}

.btn_menu {
    margin-top: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    padding: 1rem;
    border: 1px solid beige;
    position: relative;
}

.jumbotron {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 800px;
    height: 80vh;
}

.title_jumbotron {
    color: white;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 7px;
}

.title-name {
    color: white;
    font-weight: 700;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.subtitle_jumbotron {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.1)), to(transparent));
    background: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.1), transparent);
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent)
}

.btn_view_link {
    background-color: #FA7268;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border: none;
    padding: 13px 1rem;
    outline: 2px solid rgba(211, 11, 11, 0.3);
    -webkit-transition: background .6s;
    -o-transition: background .6s;
    transition: background .6s;
}

.btn_view_link:hover {
    background-color: rgb(224, 224, 224);
    color: #FA7268;
}

.btn_view_link:focus {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(211, 11, 11, 0.3);
    box-shadow: 0px 0px 5px 2px rgba(211, 11, 11, 0.3);
}

/*Section Hero*/

.hero {
    background-color: #07070B;
    margin-top: -2rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

#img_jq {
    width: 400px;
    height: 480px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px;
}

.cont h4 {
    color: #FA7268;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 3px;
}

.cont h3 {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.cont p {
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-icons a {
    text-decoration: none;
    margin-right: 15px;
}

.facebook_icon:hover, .github_icon:hover, .linkedin_icon:hover {
    background-color: #FA7268;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}

.facebook_icon {
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    padding: 15px 20px;
}

.github_icon {
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    padding: 15px 17px;
}

.linkedin_icon {
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    padding: 15px 20px;
}

.link_portifolio a {
    color: rgba(255, 255, 255, .7);
    margin-top: 2rem;
    text-decoration: none;
    display: block;
    font-size: 15px;
    letter-spacing: 2px;
}

.link_portifolio a:hover {
    color: #FA7268;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.portifolio_bottom {
    padding: 1.2px;
    display: inline-block;
    width: 9%;
    background-color: #FA7268;
}

/*Skills*/

.skills {
    background-color: #0E0F13;
    padding-top: 8em;
    padding-bottom: 5rem;
}

.frame_box {
    position: relative;
    -webkit-transform: translateY(-280%);
    -ms-transform: translateY(-280%);
    transform: translateY(-280%);
    background-color: #0E0F13;
}

.frame {
    border: 8px solid rgba(255, 255, 255, .055);
    height: 8.5rem;
    width: 100px;
    -webkit-transform: translate(-20%, -60%);
    -ms-transform: translate(-20%, -60%);
    transform: translate(-20%, -60%);
}

.frame_resume {
    color: #FA7268;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
}

.title_frame {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.list_skills {
    list-style-type: none;
    margin-left: -45px;
}

.list_skills li {
    line-height: 60px;
}

.icon_skills_list {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    padding: 5px 10px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.1)), to(transparent));
    background: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.1), transparent);
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
    transition: background .2s;
}

.icon_skills_list:hover {
    text-decoration: none;
    color: white;
}

.box_skills_jq_skills, .box_skills_jq_experience, .box_skills_jq_education {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}

@keyframes fade {
    from {
        opacity: .1;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}

.title_skills_tool {
    display: inline-block;
}

.active_link {
    background-color: rgba(0, 0, 0, .7);
}

.title_skills_tool {
    color: white;
    margin-top: -1.3rem;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.skills_itens h6 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: white;
    font-style: italic;
    line-height: 35px;
}

.progress_bottom {
    margin-bottom: 3rem;
}

.box_description_date {
    background-color: #FA7268;
    color: white;
    padding: 5px;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.text_box_graduation {
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
}

/*Section Services*/

.services {
    background-color: #07070B;
    padding-top: 8em;
    padding-bottom: 5rem;
}

.frame_box_services {
    background-color: #07070B;
}

.services_text {
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.content_services_wordpress {
    margin-top: -1.80rem;
}

.content_services_wordpress h6 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    position: relative;
    bottom: .65rem;
}

.content_services_wordpress p {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
}

.content_services_wordpress::before {
    /*
    font-family: "Font Awesome 5 Free";
    color: blue;
    font-weight: 900;
    */
    content: " ";
    display: inline-block;
    padding: 20px;
    background-image: url(../img/iconfinder_wordpress_logo_content_management_system_web_website_cms_2701068.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 2rem;
}

.content_services_code::before {
    content: "\f121";
    font-family: "Font Awesome 5 Free";
    background-image: none;
    color: #FA7268;
    font-weight: 600;
    font-size: 40px;
    left: -1rem;
    top: 3.5rem;
}

.content_services_version::before {
    content: "\f126";
    font-family: "Font Awesome 5 Free";
    background-image: none;
    color: #FA7268;
    font-weight: 600;
    font-size: 45px;
    left: -1rem;
    top: 3.5rem;
}

.services_description {
    margin-left: 5rem;
    position: relative;
    bottom: 1.5rem;
}

/*Portifólio*/

.portifolio {
    background-color: #0E0F13;
    padding-top: 8em;
    padding-bottom: 5rem;
}

.portifolio_ul {
    list-style-type: none;
    margin-left: -45px;
}

.portifolio_ul li {
    line-height: 40px;
}

.portifolio_ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.portifolio_ul a:hover {
    color: #FA7268;
}

.image_portifolio {
    bottom: 20px;
}

.active_img {
    display: block;
}

.active_img_none {
    display: none;
}

.image_portifolio img {
    border-radius: 8px;
}

.port_image_bottom {
    bottom: 0;
}

.overlay_img, .overlay_img_1, .overlay_img_2, .overlay_img_3, .overlay_img_4, .overlay_img_5, .overlay_img_6 {
    background-color: #FA7268;
    position: absolute;
    width: 90%;
    height: 100%;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    padding-top: 2rem;
    padding-left: 6rem;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.overlay_img_2 {
    width: 90%;
}

.img_w {
    background-color: rgb(201, 14, 185);
}

.img_r{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay_text {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: -2rem;
    width: 100%;
}

.arrow {
    font-size: 2rem;
    color: white;
    bottom: 10px;
    position: absolute;
    right: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.arrow:hover {
    font-size: 2.5rem;
    color: rgba(27, 27, 66, .6);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

/*Wordpress*/

.portifolio_wordpress {
    background-color: #07070B;
}

.frame_box_wordpress {
    background-color: #07070B;
}

/*Section Choose Portifólio*/

.choose_portifolio {
    padding-top: 8em;
    padding-bottom: 8rem;
    background-image: url(../img/bg_portifolio_dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.frame_box_portifolio {
    background-color: transparent;
}

.card {
    width: 17rem;
    background-color: rgba(0, 0, 0, .7);
    border: none;
}

.title_card {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.card-body {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    font-weight: 300;
}

.btn_portifolio_choose {
    background-color: #FA7268;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: background .6s;
    -o-transition: background .6s;
    transition: background .6s;
}

.btn_portifolio_choose:hover {
    background-color: rgb(224, 224, 224);
    color: #FA7268;
}

.btn_portifolio_choose:focus {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(211, 11, 11, 0.3);
    box-shadow: 0px 0px 5px 2px rgba(211, 11, 11, 0.3);
}

/*Contact*/

.contact {
    background-color: #07070B;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.list_contact {
    margin-left: -1rem;
}

.list_contact li {
    list-style-type: none;
    line-height: 30px;
}

.title_icon_contact {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

.text_contact_list {
    margin-left: 3rem;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    font-weight: 300;
}

.text_contact_list_linkedin {
    display: block;
    margin-left: 3rem;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.text_contact_list_linkedin:hover {
    text-decoration: none;
    color: #FA7268;
}

.contact_bar_bottom {
    display: block;
    margin-top: 5px;
    width: 20%;
}

.form-container {
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    text-align: center;
}

.form-container h3 {
    color: white;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.form-container p {
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    font-weight: 300;

}

.btn-form {
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: -1rem;
    margin-top: 3rem;
    width: 46%;
    background: #FA7268;

}

.btn-form:hover {
    background-color: #fa726886;
    color: white;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    text-decoration: none
}

/*Responsive*/

@media screen and (max-width: 1200px) {
    .card {
        width: auto;
    }
    .contact_bar_bottom {
        width: 7%;
    }
}

@media screen and (max-width: 980px) {
    .portifolio_ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 3rem;
        margin-left: -25px;
        margin-top: auto;
    }
    .portifolio_ul li {
        margin-right: 15px;
    }
    .image_portifolio {
        margin-bottom: 2rem;
    }
    .image_caminhar {
        margin-bottom: 1rem;
    }
    .space_skills {
        display: none;
    }
    .card {
        margin-bottom: 2rem;
    }
    .list_contact {
        margin-bottom: 4rem;
    }
    .form-container {
        margin: auto;
    }
    .input_name {
        margin-bottom: 2rem;
        margin-left: 13px;
    }
    .input_email {
        margin-bottom: 2rem;
        margin-left: 13px;
    }
    #text_area {
        margin-left: 13px;
    }
    .btn-form {
        margin-left: 0;
        width: 100%;
    }
    .overlay_img_1, .overlay_img_2, .overlay_img_3, .overlay_img_4, .overlay_img_5, .overlay_img_6 {
        width: 96%;
    }
    .img_w_1, .img_w_2, .img_w_3, .img_w_4, .img_w_5, .img_w_6 {
        width: 96%;
    }
    .overlay_text p {
        text-align: center;
        position: relative;
        top: 3rem;
        left: -1rem;
    }
}

@media screen and (max-width: 750px) {
    .title_jumbotron {
        font-size: 28px;
        font-weight: 400;
    }
    .title-name {
        font-weight: 700;
        font-size: 4rem;
    }
    #img_jq {
        margin: auto;
        width: auto;
    }
    .services_text {
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .overlay_img_1, .overlay_img_2, .overlay_img_3, .overlay_img_4, .overlay_img_5, .overlay_img_6 {
        width: 93%;
    }
}

@media screen and (max-width: 800px) {
    .skills {
        min-height: 1350px;
    }
}

@media screen and (max-width: 500px) {
    .itens_top {
        -webkit-transform: translateY(60%);
        -ms-transform: translateY(60%);
        transform: translateY(60%);
    }
    .jumbotron {
        width: 100%;
    }
    .title_jumbotron {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 1.5rem;
        letter-spacing: 8px;
    }
    .title-name {
        font-weight: 700;
        font-size: 27px;
        text-transform: uppercase;
    }
    .subtitle_jumbotron {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 8px;
        line-height: 30px;
    }
    .frame {
        -webkit-transform: translate(-2%, -60%);
        -ms-transform: translate(-2%, -60%);
        transform: translate(-2%, -60%);
    }
    .skill_title_main {
        margin-left: 1rem;
    }
    .hero {
        width: 100%;
    }
    .cont h4 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 2rem;
    }
    .cont h3 {
        font-size: 27px;
        margin-bottom: 1rem;
    }
    .list_skills {
        margin-top: -60px;
        margin-bottom: 4rem;
    }
    .title_skills_tool_sm {
        margin-top: 3rem;
    }
    .content_services_wordpress {
        margin-top: auto;
        margin-bottom: 5rem;
    }
    .content_services_wordpress::before {
        display: inline;
        padding: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        left: 0;
    }
    .services_description {
        top: 5rem;
        margin-left: 0;
    }
    .content_services_code::before, .content_services_version::before {
        left: -1rem;
    }
    .portifolio_ul {
        margin-left: -2.5rem;
    }
    .portifolio_ul li {
        margin-right: 7px;
    }
    .portifolio_ul a {
        font-size: 10px;
    }
    .img_w_1, .img_w_2, .img_w_3, .img_w_4, .img_w_5, .img_w_6 {
        width: 93.5%;
    }
}