img {
    width: 100%;
    max-width: 100%;
}

.space {
    background-color: coral;
    padding: 1px;
    width: 50px;
    display: inline-block;
}

.space_skills {
    background-color: coral;
    padding: 1px;
    width: 30px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 13px;
    margin-right: 13px;
}

.bar_progress {
    background-color: black;
    position: relative;
    height: 12px;
    width: 150px;
}

.progres {
    background-color: blue;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

